.roster-container .rbc-current-time-indicator {
    display: none;
}

.roster-container .rbc-date-cell.rbc-disabled {
    background: #ebedfa;
}

.roster-container .rbc-disable {
    background-color: rgba(0,0,0,0.25);
}

.rbc-time-column.rbc-disable .rbc-time-slot.rbc-disable {
    background-color: inherit;
}

.rbc-event-content > .event-title-container {
    display: block;
    height: 100%;
    widows: 100%;
}

.roster-container .btn-save-roster{
    margin-top: 10px;
}