.register-container {
    margin: 10px auto;
    max-width: 300px;
}

.register-container .ant-form-item {
    margin-bottom: 0;
}

.register-container .wrapper-sec {
    position: relative;
}

.wrapper-sec .nested-sec {
    display: none;
}

.wrapper-sec .show {
    display: block;
}

.register-container .btn-prev {
    margin-right: 10px;
}